* {
  margin-bottom: 20px;
  padding: 10px;
}

body {
  height: 125vh;
  font-family: 'Be Vietnam Pro', sans-serif;  
}


.msg {
  text-align: center;
  font-weight: bold;
}

.error {
  color: red;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}