* {
  margin-bottom: 20px;
  padding: 10px;
}

body {
  height: 125vh;
  font-family: 'Be Vietnam Pro', sans-serif;  
}


.msg {
  text-align: center;
  font-weight: bold;
}

.error {
  color: red;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a089;
}

.mytitle{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}