<main>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="brand" href="#">ZED SMS Bulk Uploads Mock</a>
                </div>
                <ul class="nav navbar-nav">
                    <li id="active"><a href="#">Home</a></li>
                    <li><a href="#">View Contacts</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="content">
        <p class="msg">Click on the "Choose File" button to upload a CSV file:</p>
    </section>
    <app-upload></app-upload>
    <app-contacts></app-contacts>
</main>